/* google fotns  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-common {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles  */
header, main{
    max-width: 90%;
    margin: 0 auto;
}    

.primary-bg{
    background-color: #FEA301;
}
.secondary-bg{
    background-color: #01ACFD;
}

.primary-clr{
    color: #FEA301;
}

.secondary-clr{
    color: #01ACFD;
}
.black{
    color: #111111;
}
.white{
    color: #FFFFFF;
}
.color3{
    color: #68A2DF;
}

/* shared styles  */
/* ------------------------------------------------ */


/* header styles  */

.nav-menu, .logo, nav>ul, .connect{
    display: flex;
}

.nav-menu{
    justify-content: space-between;
    align-items: center;
}


.logo h1{
    font-size: 32px;
    font-weight: 700;
    margin-left: 10px;
}

ul>li{
    list-style: none;
    margin-left: 32px;
    font-size: 20px;
    font-weight: 500;
}

.home{
    font-weight: 700;
}

.connect{
    border: none;
    border-radius: 8px;
}

.connect a{
    text-decoration: none;
    font-size: 16px;
    font-style: 600;
    padding: 8px 30px;
}

.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.banner-text > h2{
    font-size: 3.25rem;
    font-weight: 700;
    margin: 10px 0px;
    padding-right: 40px;
}

.banner-text > p{
    font-size: 1.25rem;

}


.enroll{
    background-color: #111111;
    border-radius: 8px;
     padding: 6px 15px;
}

.enroll a{
    font-size: 1rem;
    font-weight: 7000;
    text-decoration: none;
   
}

.curriculum{
    background-image: url("assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.curriculum h1{
    font-size: 2.87rem;
    font-weight: 7000;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.cards{
    display: flex;
    gap: 25px;
    margin-bottom: 80px;
}

.card{
    max-width: 28%;
    text-align: center;
    height: 350px;
    /* background-image: linear-gradient(to top, rgba(96, 93, 93, 0), rgb(209, 241, 223)); */
    /* background-image: linear-gradient(rgb(144, 242, 206) rgb(234, 245, 234)); */
    padding: 50px 20px;
    border-radius: 18px;
    box-shadow: 0px 0px 28px 0.94px rgba(0, 0, 0, 0.05);
   
}

.card01{
    background-image: linear-gradient(#c9e6f4, #f7f7f7);
}

.card02{
    background-image: linear-gradient(#f3e3c9, #f7f7f7);
}

.card03{
    background-image: linear-gradient(#d9ccf6, #f7f7f7);
}

.card-text  h2{
    color: #202020;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px 0px;
}

.card-text  p{
    font-size: 0.92rem;
    font-weight: 500;
    color: #808080;
}

.card-text a{
    text-decoration: none;
    font-size: 0.92rem;
    font-weight: 700;
    
}
.read-more{
    background-color: none;
    border: none;
    margin: 30px 0px;
}
.arrow-btn{
    text-align: center;
}

.arrow{
    border: none;
    border-radius: 30px;
    height: 60px;
    width: 60px;
}

.arrow a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}



