/* google fotns  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-common {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles  */
header,
.curriculum{
    max-width: 90%;
    margin: 0 auto;
}  

.marq {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .school {
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 10px;
            color: #01ACFD;
        }

.primary-bg{
    background-color: #FEA301;
}
.secondary-bg{
    background-color: #01ACFD;
}
.bg-clr03{
    background-color: #68A2DF;;
}

.primary-clr{
    color: #FEA301;
}

.secondary-clr{
    color: #01ACFD;
}
.black{
    color: #111111;
}
.white{
    color: #FFFFFF;
}
.color3{
    color: #68A2DF;
}

/* shared styles  */
/* ------------------------------------------------ */


/* header styles  */

.nav-menu, .logo, nav>ul, .connect{
    display: flex;
}

.nav-menu{
    justify-content: space-between;
    align-items: center;
}


.logo h1{
    font-size: 32px;
    font-weight: 700;
    margin-left: 10px;
}

ul>li{
    list-style: none;
    margin-left: 32px;
    font-size: 20px;
    font-weight: 500;
}

.home{
    font-weight: 700;
}

.connect{
    border: none;
    border-radius: 8px;
}

.connect a{
    text-decoration: none;
    font-size: 16px;
    font-style: 600;
    padding: 8px 30px;
}

/* banner part  */

.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.banner-text > h2{
    font-size: 3.25rem;
    font-weight: 700;
    margin: 10px 0px;
    padding-right: 40px;
}

.banner-text > p{
    font-size: 1.25rem;

}


.enroll{
    background-color: #111111;
    border-radius: 8px;
     padding: 6px 15px;
}

.enroll a{
    font-size: 1rem;
    font-weight: 7000;
    text-decoration: none;
   
}

/* header part end  */

/* curriculum part start  */

.curriculum{
    background-image: url("assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.section-tittle{
    font-size: 2.87rem;
    font-weight: 7000;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.cards{
    display: flex;
    gap: 25px;
    margin-bottom: 80px;
}

.card{
    max-width: 28%;
    text-align: center;
    height: 350px;
    padding: 50px 20px;
    border-radius: 18px;
    box-shadow: 0px 0px 28px 0.94px rgba(0, 0, 0, 0.05);
    /* background-image: linear-gradient(to top, rgba(96, 93, 93, 0), rgb(209, 241, 223)); */
    /* background-image: linear-gradient(rgb(144, 242, 206) rgb(234, 245, 234)); */
    
   
}

.card01{
    background-image: linear-gradient(#c9e6f4, #f7f7f7);
}

.card02{
    background-image: linear-gradient(#f3e3c9, #f7f7f7);
}

.card03{
    background-image: linear-gradient(#d9ccf6, #f7f7f7);
}

.card-text  h2{
    color: #202020;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px 0px;
}

.card-text  p{
    font-size: 0.92rem;
    font-weight: 500;
    color: #808080;
}

.card-text a{
    text-decoration: none;
    font-size: 0.92rem;
    font-weight: 700;
    
}
.read-more{
    background-color: none;
    border: none;
    margin: 30px 0px;
}
.arrow-btn{
    text-align: center;
}

.arrow{
    border: none;
    border-radius: 30px;
    height: 60px;
    width: 60px;
}

.arrow a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}


/* curriculum part end  */

/* stories  part start  */

.stories{
    background-image: url("assets/bg.png"), linear-gradient(#f7f7f7, #f3e3c9);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    /* background-image: linear-gradient(#f7f7f7, #f3e3c9); */
   
}

.stories-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    margin: 0 auto;
    gap: 20px;

   
}

.side-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.main-card, .s-card{
    background-color: #FFFFFF;
    border-radius: 15px;
    padding-bottom: 12px;
}

.main-card img, .s-card img{
    border-radius: 15px 15px 0px 0px;
    display: block;
    width: 100%;
}  

.main-card h2, p{
    padding: 0px 30px;
}
.main-card p{
    color: #666666;
    margin-top: 50px;
}

.s-card h4, p{
    padding: 0px 30px;
}

.s-cardt h4{
    font-size: 0.95rem;
    font-weight: 700;
    margin-bottom: 0px;
    color: #000000;
    margin-top: 30px;
}

.main-card h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}

#badge{
    border-radius: 18px;
    border: none;
    padding: 10px;
    width: 140px;
    margin-top: -20px;
    margin-left:40px;
    position: relative;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 0.95rem;
   
}

.store-btn{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.view-all{
    background-color: #000000;
    border-radius: 12px;
    padding: 5px 35px;
 
}

.view-all a{
    color: #FFFFFF;
    text-decoration: none;   
}
/* stories  part end  */

footer{
    background-color: #01ACFD;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
}

.kids{
    display: flex;
    align-items: center;
}

.kids img{
    padding-top: 30px;
}
.kids h4{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.kids-logo p{
    font-size: 1rem;
    margin-top: 30px;
    padding-left: 0px;
}

  .kids-logo, .nav, .icon{
       padding-left: 100px;
       padding-top: 100px;
       padding-bottom: 120px;
       color: white;
}

.nav h4{
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 40px;
}

.nav ul>li{
    font-weight: 500;
    font-size: 1rem;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 15px;
}

.icon h4{
    font-size: 1.5rem;
    font-weight: 700;
}

.icon img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}


.mobile-container{
    display: none;
}
/* footer part end  */

.display{
    display: none;
}
/* =====================================================  */


/* for mobile screen  */
@media screen and (max-width: 576px) {
      
    /* for nav bar style  */

    .section-tittle{
        font-size: 1.75rem;
    }
    .nav-menu, 
    .marq, 
    .arrow-btn, 
    .main-card{
        display: none;
    }
            .mobile-container {
            margin: auto;
            border-radius: 10px;
            display: block;
            }

            ul{
                flex-direction: column;
            }

            ul>li {
            margin-left: -40px;
            font-size: 18px;
            margin-bottom: 10px;
            }

            .topnav>img{
                width: 10%;             
            }
            .topnav {
            overflow: hidden;
            position: relative;
            }

            .topnav #myLinks {
            display: none;
            }

            .topnav a {
            color: black;
            padding: 1px;
            text-decoration: none;
            font-size: 18px;
            display: block;
            right: 0;
            top: 0;
            }

            .topnav a.icon {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            }

            .topnav a:hover {
            color: #FEA301;
            }
 /* for nav bar style  end */

 /* banner  */
        .banner-content{
            flex-direction: column-reverse;
            text-align: center;
            gap: 10px;
        }

        .banner-text > h2{
            font-size: 1.75rem;
        }  

        .banner-img img{
            width: 100%;
        }

/* banner  end */

/* curriculum part  */
        .curriculum{
            background-image: none;
        }

        .cards{
            flex-direction: column;
        }

        .card{
            max-width: 100%;
        }
/* curriculum part end */

/* Our Stories part  */

        .stories{
            background-image: linear-gradient(#f7f7f7, #f3e3c9);
        }

        #badge{
            border-radius: 18px;
            border: none;
            padding: 10px;
            width: 55%;
            margin-top: -20px;
            margin-left:20px;
            position: relative;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 0.65rem;
        
        }

        .stories-container{
            grid-template-columns: 1fr;
            max-width: 96%;
            gap: 0px;

        }

        .side-grid {
            grid-template-columns: 1fr 1fr;
            gap: 0px;
            max-width: 100%;
        }
        .s-card h4, p{
        padding: 0px 10px;
        }
        .s-card-h4{
            font-size: 0.75rem;
        }
        .store-btn{
            padding-top: 20px;
        }

        footer{
        grid-template-columns: 1fr;
        padding-bottom: 50px;
        padding-top: 30px;
     }

      .kids-logo, .nav, .icon{
       padding-left: 10px;
       padding-top: 10px;
       padding-bottom: 10px;
       
    }

    .nav h4{
         padding-left: 10px;
    }

    .nav ul>li{
        margin-left: -30px;
    }


}

/* for mobile screen  end */
/* ======================================= */
